@model IEnumerable<WebApplication.Models.TransactionModel>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeneficaryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeneficaryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.TransactionId">Edit</a> |*@
                    <a onclick="showInPopup('@Url.Action("AddOrEdit", "Transaction", new { id = item.TransactionId}, Context.Request.Scheme)', 'Update Transaction')" class="btn btn-link btn-sm"><i class="fas fa-pencil-alt"></i> Edit </a>
                    |
                    <a asp-action="Delete" asp-route-id="@item.TransactionId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>